* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #21033a;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

button {
    cursor: pointer;
    color: white;
}

a {
    cursor: pointer;
}

.swal2-styled.swal2-confirm {
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%)!important;
    width: 100%;
    margin: 0 1rem 0 1rem;
}

.swal2-actions {
    width: 100%!important;
}

.pt05 {
    padding-top: 0.5rem;
}

.pt2 {
    padding-top: 2rem;
}

.pt4 {
    padding-top: 4rem;
}

.mt05 {
    margin-top: 0.5rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt7 {
    margin-top: 7rem;
}

.mr1 {
    margin-right: 1rem;
}

.ml1 {
    margin-left: 1rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.or {
    text-align: center;
}

input {
    outline: none;
}

.width-container {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

#login-modal-container, #email-modal-container, #password-modal-container {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(21,1,39,0.6);
    padding: 0;
    margin: 0;
    display: none;
}

#login-modal, #email-modal, #password-modal {
    background-color: white;
    border-radius: 12px;
    color: black;
    padding: 25px;
    width: 480px;
    margin-top: 7rem;
}

#login-modal button {
    width: 100%;
    border: 2px solid black;
    color: black;
    background-color: transparent;
    font-size: 16px;
}

#login-modal button:hover {
    background-color: #e1d9e8;
}

.login-top, .email-top, .password-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 24px;
}

.login-top img {
    width: 40%;
}

.login-close {
    cursor: pointer;
}

.login-options {
    text-align: center;
}

.login-terms {
    font-size: 12px;
    color: #919191;
}

#email-modal form, #password-modal form {
    text-align: left;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

#email-modal button, #password-modal button {
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%);
}

#email-modal input, #password-modal input {
    border: 1px solid #ededed;
}

#password-modal-container form p {
    font-size: 13px;
    color: #007eb0;
}

#password-modal-container form p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.back {
    color: #007eb0;
    font-size: 13px;
    cursor: pointer;
}

.hover-orange:hover {
    color: #f57318;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    top: 0;
}

#change-language {
    display: none;
    position: absolute;
    transform: translate(-13px, 58px);
    top: 0px;
    right: 0px;
    flex-direction: column;
    background-color: white;
    width: 3rem;
    align-items: flex-end;
    padding: 1rem;
    border-radius: 6px;
}

#change-language a {
    color: black;
}

#burger-menu {
    text-align: center;
    width: 2rem;
    cursor: pointer;
    padding: 0.3rem 0;
}

#burger-menu:hover {
    border-radius: 0.2rem;
    background-color: rgba(255,255,255,0.8);
    color: black;
}

#nav-logo {
    padding: 0.3rem 0;
}

/* .nav-login {
    border: 1px solid white;
    border-radius: 0.5rem;
} */

#nav-links {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    padding: 0.3rem 0;
}

#nav-logo-and-menu {
    display: flex;
    width: 50vw;
    align-items: flex-start;
    gap: 1rem;
}

nav img {
    width: 50%;
}

.fa-exchange-alt {
    font-size: 18px;
    background: white;
    padding: 2px;
    border-radius: 8px;
    cursor: pointer;
}

form {
    text-align: center;
}

.form-inputs {
    background-color: #0095cc;
    padding: 0.3rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
}

.flight-search-button {
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%);
    border: none;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.form-arrows {
    color: black;
}

input, button {
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    padding: 0rem 0.5rem;
}

#from-results-container, #to-results-container {
    background-color: white;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#from-results, #to-results {
    color: black;
}

.from-city, .to-city {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.from-city *, .to-city * {
    pointer-events: none;
}

.from-city:hover, .to-city:hover {
    background-color: #e1d9e8;
}

.city-text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.city-text .short {
    font-weight: 300;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1d9e8;
    padding: 0.3rem;
}

.search input {
    width: 90vw;
}

.closeFromSearch, .closeToSearch {
    color: black;
    padding: 10px;
}

.closeFromSearch:hover, .closeToSearch:hover {
    background-color: #e1d9e8;
    cursor: pointer;
    border-radius: 5px;
}

.usp {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid rgba(167,98,234,0.4);
    border-bottom: 1px solid rgba(167,98,234,0.4);
    padding: 1rem;
}

.usp-text {
    font-size: 0.9rem;
}

#trending-cities h2, #trending-countries h2 {
    text-align: center;
}

.subtitle {
    color: #a79bb2;
    font-size: 14px;
    text-align: center;
}

.trending-card {
    background-color: white;
    height: 90px;
    border-radius: 4px;
    margin-top: 0.7rem;
}

.trending-flex {
    display: flex;
    height: 100%;
    border-radius: 10px;
}

.trending-image {
    background-image: url(/images/croatia.jpg);
    height: 100%;
    width: 45%;
    opacity: 1;
    border-radius: 5px 0 0 5px;
    background-size: cover;
}

.trending-text {
    color: black;
    padding: 0.5rem;
}

.trending-header {
    color: #6c6c6c;
    font-size: 13px;
}

.body-text {
    color: #a79bb2;
    text-align: center;
}

.city-list {
    border-bottom: 1px solid #1b93c2;
}

#how-to-container h2 {
    text-align: center;
}

#trips-header {
    background-color: #2d0a3b;
    width: 100vw;
    padding: 2rem 4rem;
}

#trips-header h1 {
    font-size: 44px;
}

#trips-header p {
    font-weight: 700;
    font-size: 20px;
}

.trips-buttons button {
    font-size: 16px;
    font-weight: 600;
    padding: 1rem;
}

.trips-find-bookings {
    color: black;
    background-color: white;
}

.trips-sign-in-button {
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%);
}

#trips h2 {
    text-align: center;
    font-size: 32px;
}

#bookings-header {
    padding: 1rem 2rem;
}

#bookings-header img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.bookings-image-overlay {
    background-color: #21033a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 24px;
    position: absolute;
    bottom: 205px;
    left: 60px;
    width: 30rem;
}

.bookings-header {
    text-align: left;
}

.momondo-receipt, .search-for-receipt {
    padding: 1rem 2rem;
}

.momondo-receipt button {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 1rem;
}

.receipt-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.search-for-receipt {
    display: none;
}

.search-for-receipt-nav {
    display: flex;
    gap: 1rem;
    font-size: 14px;
    color: #9684a4;
}

.search-for-receipt-nav p {
    cursor: pointer;
    font-weight: 700;
}

.search-for-receipt form {
    gap: 0.5rem;
}

.search-for-receipt form input {
    width: 320px;
}

.search-for-receipt form button {
    background-color: #6b15c1;
    font-weight: 600;
    padding: 1rem;
}

.active {
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    color: white;
}

.search-for-receipt-nav p:hover {
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    color: white;
}

#signup-form {
    flex-direction: column;
}

.name {
    display: flex;
    width: 30rem;
    gap: 1rem;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30rem;
    gap: 0.5rem;
}

.input-fields input {
    width: 100%;
}

#signup-form button {
    width: 30rem;
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%);
    font-weight: 600;
    font-size: 16px;
}

.delete-flight button {
    background-color: transparent;
}

.delete-flight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
}

footer {
    background-color: #130026;
    padding-bottom: 2.5rem;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.top-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

footer strong {
    font-size: 14px;
}

footer li {
    font-size: 12px;
    list-style-type: none;
    padding: 3px;
    margin: 3px;
}

footer div {
    width: 100%;
}

footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-terms a, .footer-terms {
    color: #919191;
    font-size: 12px;
}

.footer-term-links  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-term-links a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-copyright {
    text-align: center;
}

.search-for-receipt form {
    text-align: left;
}

#trips-header h1 {
    text-align: left;
}

.trips-buttons {
    gap: 1rem;
}

@media (max-width: 400px) {
    .bookings-image-overlay {
        left: 55px;
        width: 17rem;
        bottom: 445px;
    }

    #bookings-header {
        height: 370px;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    #nav-logo {
        width: 30%;
    }
}

@media (min-width: 400px) and (max-width: 1200px) {
    .bookings-image-overlay {
        width: 20rem;
        bottom: 325px;
    }

    #bookings-header {
        height: 370px;
    }

    .trips-sign-in-button {
        margin-right: 0.5rem;
    }

    #trips h2 {
        padding: 0 3rem;
    }
}

@media (max-width: 700px) {
    .trips-sign-in-button, .trips-find-bookings {
        width: 100%;
        margin-top: 1rem;
    }
}

@media (min-width: 900px) {
    .trending-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.7rem;
        margin: 1rem 0 0 0;
        padding: 2rem;
    }

    #trips-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #bookings-form {
        display: flex;
    }
}

@media (max-width: 1200px) {
    .form-arrows {
        right: 20px;
        top: 36px;
        border: 4px solid #0095cc;
        border-radius: 4px;
        flex: 0 0 52px;
        display: block;
        position: absolute;
        height: 32px;
        width: 32px;
        transform: rotate(90deg);
    }
}

@media (min-width: 1200px) {
    .width-container {
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }

    .trips-buttons {
        display: flex;
    }

    #bookings-header {
        height: 498px;
    }

    #nav-logo-and-menu {
        align-items: center;
    }

    #nav-logo {
        width: 16%;
    }

    form {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .form-inputs {
        flex-direction: row;
        align-items: center;
    }

    #from-results-container, #to-results-container {
        display: none;
        width: 20rem;
        height: 20rem;
        position: absolute;
        transform: translate(282px, 266px);
        top: 0px;
        left: 0px;
        box-shadow: 0 10px 20px rgb(21 1 39 / 10%), 0 3px 6px rgb(21 1 39 / 4%), 0 -3px 6px rgb(21 1 39 / 4%);
        border-radius: 8px;
    }

    .search {
        display: none;
    }

    .fa-exchange-alt {
        background-color: rgba(255,255,255,0.7);
        height: 3rem;
        width: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        text-align: left;
        font-size: 32px;
    }

    .usps {
        display: flex;
        gap: 1rem;
    }

    .usp {
        display: block;
        border: 1px solid rgba(167,98,234,0.4);
        border-radius: 0.5rem;
        padding: 13px;
    }

    #trending-cities, #trending-countries {
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }

    #trending-cities h2, #trending-countries h2 {
        font-size: 32px;
    }
    
    #trending-cities p, #trending-countries p, #flight-deals p {
        font-size: 20px;
    }

    .trending-cards p {
        font-size: 14px !important;
    }

    .trending-cards {
        padding: 0;
    }

    #flight-deals h2 {
        text-align: center;
        font-size: 32px;
    }

    #flight-deals .body-text {
        font-size: 15px;
        max-width: 70%;
        margin: 20px auto 24px;
    }

    .city-list p:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    nav {
        align-items: center;
    }

    .nav-login, .nav-logout {
        border: 1px solid white;
        border-radius: 5px;
        padding: 0.8rem;
    }

    .nav-login:hover {
        background-color: white;
        color: black;
    }

    #nav-links {
        align-items: center;
    }

    .search-for-receipt form {
        align-items: flex-start;
    }
}
